artifact/
node_modules/
packages/cowsay/cowsay.js
packages/cowsay/cowsay.wasm
dist/
packages/cowsay-test/cowsay-test.js
cowsay/cowsay.js
cowsay/cowsay.wasm
package-lock.json
yarn.lock
cowsay-test/cowsay-test.js
obj/
bin/
.vs/
*.wasm